<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand fw-bold" [routerLink]="['/dashboard']">
      MyApp
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- LEFT SIDE MENU -->
      <ul class="navbar-nav me-auto">

        <li class="nav-item dropdown" *ngFor="let menu of menus">
          
          <!-- Top Level -->
          <a *ngIf="menu.subParent?.length" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
            {{ menu.title }}
          </a>

          <a *ngIf="!menu.subParent?.length" class="nav-link" [routerLink]="getRouterLink(menu)">
            {{ menu.title }}
          </a>

          <!-- Second Level -->
          <ul class="dropdown-menu">
            <li *ngFor="let sub of menu.subParent" class="dropdown-submenu position-relative">

              <a *ngIf="sub.child?.length" class="dropdown-item dropdown-toggle">
                {{ sub.title }}
              </a>

              <a *ngIf="!sub.child?.length" class="dropdown-item" [routerLink]="getRouterLink(menu, sub)">
                {{ sub.title }}
              </a>

              <!-- Third Level -->
              <ul class="dropdown-menu" *ngIf="sub.child?.length">
                <li *ngFor="let child of sub.child">
                  <a class="dropdown-item" [routerLink]="getRouterLink(menu, sub, child)">
                    {{ child.title }}
                  </a>
                </li>
              </ul>

            </li>
          </ul>

        </li>

      </ul>

      <!-- RIGHT SIDE USER INFO -->
      <ul class="navbar-nav align-items-center">
        <li class="nav-item text-white me-3"><span><i class="fas fa-user"></i></span> {{ username }}</li>
        <li class="nav-item">
          <button class="btn btn-danger btn-sm" (click)="logout()">Logout</button>
        </li>
      </ul>

    </div>
  </div>
</nav>